/* Design*/
body {
  font-family: "Poppins", sans-serif;
}

/* Design System */
.button {
  min-width: 125px;
  border: solid 1px;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms ease;
  cursor: pointer;
  font-weight: bold;
}

.blue {
  background-color: #623FD8;
  border-color: #623FD8;
  color: #fff;
}

.white {
  background-color: #fff;
}

.white:hover {
  background-color: #e71725;
  border-color: #e71725;
  color: #fff;
}
.button {
  min-width: 125px;
  border: solid 1px;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms ease;
  cursor: pointer;
  font-weight: bold;
}

.header {
  height: 94px;
  width: 516px;
  left: 64px;
  top: 0px;
  border-radius: 0px;

}
.header1-container {
/* Header 1 */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
}

 /* LOGO */
 .logo {
  position: absolute;
  width: 56px;
  height: 54px;
  left: 16px;
  top: 20px;
    }
    
    
/* Header 2 */
.header2-container {
  position: absolute;
  width: 153px;
  height: 37px;
  left: 337px;
  top: 29px;
}

/* Menu */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.menu {
  display: flex;
  justify-content: start;
}

.show-menu {
  display: none;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 77;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.main-container {
  width: 100%;
}

.aside-container {
  width: 30%;
}

/* Auto layout */
.space-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.nav-header2-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

/* Form */
.form-container {
  box-sizing: border-box;
  
  position: absolute;
  width: 433px;
  height: 631px;
  left: calc(50% - 433px/2 + 257px);
  top: 168px;
  
  border: 1px solid #FAF3F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  }


.container-section {
  margin-right: 28px;
}

.container-footer {
  display: flex;
  justify-content: center;
}
/* Form */
.container-form {
box-sizing: border-box;

position: absolute;
width: 433px;
height: 631px;
left: calc(50% - 433px/2 + 257px);
top: 168px;

border: 1px solid #FAF3F3;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}

