
* {
  
  margin: 89px, 140px, 90px, 139px;
  padding: 1161px, 845px;
  box-sizing: border-box;
  }


/* Website */

.website {
  position: absolute;
  width: 1161px;
  height: 845px;
  left: 139px;
  top: 89px;
}

/* Design*/

.myclass {
  background: background1, background2;
}

#header {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}
#header1-container {
  height: 94px;
  width: 516px;
}

#header2-container {
  height: 94px;
  width: 516px;
  left: 580px;
}

#parrafos {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.74);
}

#message.form-control {
  margin: 553, 126, 155, 635;
}

#body {

  font-family: "inter Tight";
}
#text {
  width: 198px;
  height: 60px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
}
/* Design System */
.button {
  min-width: 125px;
  border: solid 1px;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms ease;
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  font-weight: bold;
}

.blue {
  background-color: #623fd8;
  border-color: #623fd8;
  color: #fff;
}

.white {
  background-color: #fff;
}

.violet {
  background-color: #623fd8;
  border-color: #623fd8;
  color: #fff;
  background-color: #623fd8;
  border-color: #623fd8;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 91px;
  gap: 10px;
  position: absolute;
  width: 400px;
  height: 36px;
  left: 14px;
  top: 543px;
  background: #623fd8;
  border-radius: 5px;
  text-align: center;
}

.header {
  height: 94px;
  width: 516px;
}
.header1-container {
  /* Header 1 */
  background-color: white;
  height: 94px;
  width: 516px;

  left: 64px;
  top: 0px;
  border-radius: 0px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 10px;
}

.body {
  background-color: white;
  width: 1161px;
  height: 845px;
}
/* LOGO */
.logo {
  background-color: white;
  position: absolute;
  width: 56px;
  height: 54px;
  left: 16px;
  top: 20px;
}

/* Header 2 */
.header2-container {
  background-color: white;
  position: absolute;
  width: 153px;
  height: 37px;
  left: 580px;
  top: 2px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* Menu */
.nav-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.menu {
  background-color: white;
  display: flex;
  justify-content: start;
}

.show-menu {
  display: none;
}

.ubication-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 205px;
  height: 300px;
}

.container1 {
  background-color: white;
  display: flex;
  align-items: start;
}

.container2 {
  background-color: white;
  display: flex;
  align-items: start;
}

.title-example1 {
  background-color: white;
  height: 22px;
  width: 127px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
}

.title-example2 {
  background-color: white;
  height: 22px;
  width: 54px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
}

.fone-container {
  font-family: Inder;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

/* Auto layout */
.space-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.nav-header2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.tittle {
  background-color: white;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
}

.sub-title {
  background-color: white;
  display: flex;
  align-items: center;
  text-align: justify;
}
.img-container {
  width: 488px;
  height: 175px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p1-container {
  background-color: white;
  height: 62px;
  width: 468px;
  left: 0px;
  top: 18px;
  border-radius: nullpx;
}

.p2-container {
  background-color: white;
  height: 106.28570556640625px;
  width: 468px;
  left: 0px;
  top: 30.857177734375px;
  border-radius: nullpx;
}

/* Form */

.form-container {

  box-sizing: border-box;
  position: absolute;
  width: 433px;
  height: 631px;
  left: calc(50% - 433px/2 + 257px);
  top: 168px;
  border: 1px solid #FAF3F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  padding: 10px;
  }

.container-section {
  background-color: white;
  margin-right: 28px;
}

.footer-container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.btn btn-outline-secondary {
  border-width: 0px;

}
