* Design*/
* {
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  box-sizing: border-box;
}

/*Body*/
body.body {
  border: 65px solid rgb(117, 84, 227);
}

.body {
  font-family: 'Inter', sans-serif;
  height: 845px;
}

/*Header*/

.logo-menu{
  margin: 20px;}
  
.header-container{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  display: flex;
  letter-spacing: 0.05em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 180px 0px 180px}

/* Menu */
.menu {
  display: flex;
  align-items: baseline;}

.p-container {
  width: 500px;
  padding-top: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.space-menu {
  margin-top: 20px;
  display: -webkit-box;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 20px;
  font-family: 'Inter', sans-serif;
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}



.button-nav {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: flex-end;
  height: 37px;
  padding-right: 25px;
}

/* Design button login-singup */
.button {
  font-family: 'Inter', sans-serif;
  min-width: 76.5px;
  height: 37px;
  border: solid 0px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms ease;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-weight: bold;
}

.violet {
  background-color: #623fd8;
  color: #fff;
}

.white {
  background-color: #fff;
}

.main {
display: flex;
justify-content: space-around;
margin: 0px 150px;}

/* Form */
.form-container {
  font-family: 'Inter', sans-serif;
  width: 433px;
  height: 500px;
  left: calc(50% - 500px / 2 + 433px);
  border: 1px solid #faf3f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  padding: 10px;}

.container-section {
  background-color: white;
  margin-right: 28px;
}

.img-container {
  padding-top: 0px;
}

.form-control {
  height: 137px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#Message {
  margin-top: 5px;
}

/* Footer */
.footer {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 30px;
  gap: 125px;
  position: absolute;
  width: 611px;
  height: 142px;
  left: 215px;
  top: 641px;
  margin-top: 25px;
  margin-left: 70px;
  
  }
  .footer1 {
    height: 120px;
    width: 205px;
    left: 5px;
    top: 11px;
    justify-content: space-between;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
    
      
  }
  .footer2 {
    height: 120px;
    width: 205px;
    left: 236px;
    top: 11px;
    justify-content: space-between;
    display:  inline-block;
    flex-direction: column;
    align-items: flex-start; 
    flex: none;
    order: 1;
    flex-grow: 0;
    
  }
  
 
#parrafos {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 19px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 468px;
  height: 106px;
  }

#h1 {
  position: absolute;
  width: 431px;
  height: 78px;
  left: 74px;
  top: 128px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

#h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}


